<ion-header>
  <c-toolbar></c-toolbar>
</ion-header>

<ion-content>


  <ion-item-sliding *ngFor="let currency of displayCurrencys" 
                    #slidingItem>

    <c-item [currency]='currency'>
      <c-calculator [currency]='currency' slot="end"></c-calculator>
    </c-item>
    <c-item-option [currency]='currency'
                   [allCurrencies]='allCurrencys' 
                   [displayCurrencies] ='displayCurrencys'
                   [slidingItem]='slidingItem'>
    </c-item-option>

  </ion-item-sliding>


</ion-content>

<ion-footer>
  <c-keypad></c-keypad>
</ion-footer>